
* { 
    padding: 0; margin: 0; 
    font-family: 'Tahoma';
    font-size: 12px;
}

.app {
    display: flex;    
    height: 100%;
    flex-direction: column;
    align-items: stretch;
}

.menu-bar-container {
    background-color: var(--pcolor-panel);
}

.tools-and-canvas-container {
    flex: 1;

    display: flex;
    flex-direction: row;
    align-items: stretch;
}

.tools-and-canvas-container .tools-container {
    width: var(--tool-bar-width);
}

.tools-and-canvas-container .canvas-container {
    flex: 1;
    padding: 4px;
    overflow: scroll;
}

.bottom-bar-container {
    height: var(--bottom-bar-height);
    background-color: var(--pcolor-panel);
}