.bottom-bar-container {
    display: flex;
}

.palette-bar {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.palette-bar > div {
    display: flex;
    flex-direction: row;
    flex: 1;    
    align-items: center;
}

.palette-bar > div > div {
    width: var(--color-box-size);
    height: var(--color-box-size);
    margin-right: var(--color-box-margin);
}

.color-preview {
    width: calc(var(--bottom-bar-height) - 4px);
    height: calc(var(--bottom-bar-height) - 4px);
    position: relative;
    background-color: gray;
}

.color-preview > .foreground-color, .color-preview > .background-color {
    width: var(--color-box-size);
    height: var(--color-box-size);
    position: absolute;
}

.color-preview > .foreground-color {
    background-color: green;
    top: 12.5%;
    left: 12.5%;
}

.color-preview > .background-color {
    background-color: black;
    top: 37.5%;
    left: 37.5%;
}